.footer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;

}

.hover{
    width: 100px;
    height: 100px;
    background-color: rgb(119, 180, 119);
    transition: 0.2s all;/* it takes 1 sec to apply the properties(animation time) */
    display: flex;
    align-items: center; /*it brings text to center from column */
    justify-content: center;/*it brings text to center from row */
    
    
    
}

.hover:hover{
    
    color: rgb(78, 72, 72);
    scale: 1.5;
    transform: rotate(30deg);

    
}
